<div class="jumbotron">
  <h1>Welcome to Bob and Tom's Hair Salon</h1>
</div>

<div class="link">
  <a href="/stylist_list">View our list of stylists!</a>
</div>

<div class="link">
  <a href="/new_stylist">Add a new stylist!</a>
</div>
