<div class="jumbotron">

  <h1>Add a new stylist!</h1>
</div>
  <form class="text-center" action="/stylist_list" method="post">
    <label for="name">Add a stylist:</label>
    <input type="text" name="name" id="name" class="text-center" >

    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
