<div class="jumbotron">

  <h1><%= @stylist.name() %></h1>

  <% if @stylist.clients().any?() %>
    <h3>Here are all the clients for this stylist:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
    <li><%= client.title() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no clients for this stylist!</p>
  <% end %>

  <br></br>

  <h3>Add a client to <%= @stylist.name()%>:</h3>

  <form action="/clients" method="post">
      <input id="stylist_page" name="stylist_page" type="hidden" value="<%= @stylist.id() %>">

      <label for="title">Name of the client:</label>
      <input id="title" name="title" type="text">

      <button type="submit" class="btn btn-danger">Add client</button>
  </form>

  <br></br>

  <div class="link">
    <a href="/stylist_list">Return to Stylist List</a>
  </div>

  <div class="link">
    <a href="/">Return to Homepage</a>
  </div>

</div>
